body{
    background-color: hsl(0, 0%, 98%);

    margin: 0; /*this is to dodge problems*/

    /*here we set the default text font and size for all the page*/
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.big_header{

    font-size: 35px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.big_header_bold{
    font-weight: 600;
}

.subtitle{
    color: hsl(229, 6%, 66%);
}

.normal_header{
    color: hsl(234, 12%, 34%);

    margin: 5px 0;
}

.normal_txt{
    color: hsl(229, 6%, 66%);
    font-weight: 400;

    margin: 5px 0 50px 0;
}

header{
    text-align: center;

    margin: 80px 0 60px 0;
    padding: 0 420px;
}

section{
    /*we define section as a grid with 4 rows and 6 columns*/
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(6, 150px);
    gap: 2em;

    /*centers the section horizontally*/
    justify-content: center;

    margin: 0 0 50px 0;
}

.card{
    /*actually found out what padding is used for (it's like margin but inside the box)*/
    padding: 20px;

    background-color: white;
    border-radius: 4px;

    box-shadow: 0 20px 20px hsl(194, 17%, 85%);
}

.card img{
    /*all the images go to the right of their card*/
    float: right;
}

#supervisor{
    grid-area: 2 / 1 / 4 / 3;

    border-top: 4px solid hsl(180, 62%, 55%);
}

#team_builder{
    grid-area: 1 / 3 / 3 / 5;

    border-top: 4px solid hsl(0, 78%, 62%);
}

#calculator{
    grid-area: 2 / 5 / 4 / 7;

    border-top: 4px solid hsl(212, 86%, 64%);
}

#karma{
    grid-area: 3 / 3 / 5 / 5;

    border-top: 4px solid hsl(34, 97%, 64%);
}

/*---------------------------------------mobile settings------------------------------------*/

@media(max-width : 800px){

    .big_header{
        font-size: 25px;
    }

    .normal_txt{
        font-size: 13px;

        margin: 5px 0 30px 0;
    }

    header{
        padding: 0 30px;
    }

    section{
        /*we define section as a grid with 4 rows and 1 column*/
        grid-template-rows: repeat(4, 240px);
        grid-template-columns: 300px;
    }

    /*here we fix the cards positions*/
    #supervisor{
        grid-area: 1 / 1 / 2 / 1;
    }
    
    #team_builder{
        grid-area: 2 / 1 / 3 / 1;
    }
    
    #calculator{
        grid-area: 4 / 1 / 5 / 1;
    }
    
    #karma{
        grid-area: 3 / 1 / 4 / 1;
    }
}